<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite1" parallel="classes">
    <test name="flow1">
        <classes>
            <class name="SignUpTest"/>
            <class name="SignInTest"/>
        </classes>
    </test>

    <test name="flow2">
        <classes>
            <class name="SignInTest"/>
            <class name="SignUpTest"/>
        </classes>
    </test>
</suite>