<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite1" parallel="tests">
    <test name="flow1" parallel="false">
        <classes>
            <class name="SignUpTest"/>
            <class name="SearchAndFilterTest"/>
            <class name="CartAndCheckoutTest"/>
        </classes>
    </test>

    <test name="flow2" parallel="false">
        <classes>
            <class name="BrowseWorldMarketTest"/>
            <class name="WishListTest"/>
        </classes>
    </test>

    <test name="flow3">
        <classes>
            <class name="SignInTest"/>
        </classes>
    </test>
</suite>